[submodule "extern/gpcc"]
	path = extern/gpcc
	url = ../gpcc.git
[submodule "extern/googletest"]
	path = extern/googletest
	url = ../../google/googletest.git
[submodule "extern/toolchain_configs"]
	path = extern/toolchain_configs
	url = ../toolchain_configs.git
